<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevSlopes_GIT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D20E026F1F1530F300BAEA87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D20E02831F1530F300BAEA87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D20E028E1F1530F300BAEA87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
